# Global fallback flags for files not in AtlasNet

# Files in AtlasNet use the build compile_commands.json
If:
  PathMatch: "AtlasNet/.*"
CompilationDatabase: "/workspaces/AtlasNetNew/AtlasNet/build/compile_commands.json"

# Everything else (outside AtlasNet)
If:
  PathMatch: ".*"   # matches any file
CompilationDatabase: "/workspaces/AtlasNetNew/build/compile_commands.json"
