src/fabric/run
src/neoforge/run
.atlasnet
natives
build
src/build
.jar
run
.architectury-transformer
src/common/build/
src/common/.gradle/
src/fabric/build/
src/fabric/.gradle/
src/neoforge/build/
src/build/
src/.gradle/